<div class="h-75 intro">
  <div class="container">
    <div class="row">
      <div class="col text-white">
        <br /><br /><br /><br /><br /><br />
        <h1 class="font-weight-bold m-3 display-5">
          We provide <br /><ins class="text-info">Solutions</ins> <br />for your
          business
        </h1>

        <div class="example-button-row">
          <button
            mat-button
            color="primary"
            class="btn btn-primary btn-lg raduis-me"
          >
            Get Strated
          </button>
          <button
            mat-button
            color="primary"
            style="border-color: white;"
            class="btn btn-lg btn-primary-outline bg-transparent raduis-me m-3 text-white"
          >
            Get Strated
          </button>
        </div>
      </div>
      <div class="col">
        <br /><br /><br /><br /><br /><br />
        <img
          style="max-width: 100%;"
          src="../assets/images/intro-img.svg"
        /><img />
      </div>
    </div>
  </div>
</div>
