.intro {
  background-image: url("../../assets/images/intro-bg.png");
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100% 80%;
}

.display-5 {
  font-size: 50px;
  font-weight: 300;
  line-height: 1.2;
}

.raduis {
  border-radius: 35px;
}
